html {
    background: aliceblue;
    font-family: "Funnel Sans";
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.5rem;
}

table {
  width: 66%;
  border-collapse: collapse;
  border: 3px solid black;
  border-radius: 20px;
}

th,
td {
  border: 3px solid black;
    padding: 20px;
}

th {
    text-align: left;
}

td {
    text-align: center;
}

div,
footer {
    margin-top: 65px;
}

footer {
    margin-left: -5%;
    margin-right: -5%;
    font-size: 80%;
    font-style: italic;
}

#calculatrice-insulines-rapides {
    margin-bottom: 50px;
}

select,
input {
    font-family: inherit;
    font-size: 75%;
    background: white;
    border: 3px solid black;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

button {
    font-family: inherit;
    font-size: 100%;
    background: white;
    border: 3px solid black;
    font-weight: bold;
    text-align: left;
    border-radius: 10px;
    background-color: rgb(255, 198, 141);
    padding: 2% 4%;
    box-shadow: 0 7px rgb(255, 166, 0);
  }

button:hover {
    cursor: pointer;
}

button:active {
    box-shadow: none;
    transform: translateY(7px);
}

@media only screen and (max-width: 480px) {
html {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 4rem;
}
table {
    width: 100%;
}
}

table {
    width: 80%;
}
}
