@media (min-width: 600px) {

html {
    background: aliceblue;
    font-family: "Funnel Sans";
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.5rem;
}
#answer_B,
#answer_A,
#answer_C {
    margin: 25% 2.5% 25% 2.5%;
    border-radius: 10px;
    text-align: center;
}
table {
    width: auto;
    border-collapse: collapse;
    border: 3px solid black;
    border-radius: 20px;
}

footer {
    margin-left: -5%;
    margin-right: -5%;
    font-size: 80%;
    font-style: italic;
}
}

@media (max-width: 600px) {
html {
    background: aliceblue;
    font-family: "Funnel Sans";
    margin-left: 3%;
    margin-right: 3%;
    font-size: 3.5rem;
}
table {
    width: auto;
    border-collapse: collapse;
    border: 3px solid black;
    border-radius: 20px;
}
footer {
    margin-left: none;
    margin-right: none;
    font-size: 80%;
    font-style: italic;
}
#answer_A,
#answer_B,
#answer_C {
    font-size: 0.75rem;
    border-radius: 10px;
    text-align: center;
    margin: 25% 2.5% 25% 2.5%;
}
}

th,
td {
  border: 3px solid black;
    padding: 20px;
}

th {
    text-align: left;
}

td {
    text-align: center;
}

div,
footer {
    margin-top: 80px;
}



#nonitalic {
    font-style: normal;
}

#calculatrice-insulines-rapides {
    margin-bottom: 50px;
}

#révision {
    font-size: 60%;
    font-style: italic;
}

select,
input {
    font-family: inherit;
    font-size: 75%;
    background: white;
    color: black;
    border: 3px solid black;
    font-weight: bold;
    text-align: center;
}

select {
    width: 90%;
}

input {
    width: 86.5%;
}

button {
    font-family: inherit;
    font-size: 100%;
    background: white;
    color: black;
    border: 3px solid black;
    font-weight: bold;
    text-align: left;
    border-radius: 10px;
    background-color: rgb(255, 198, 141);
    padding: 2% 4%;
    box-shadow: 0 7px rgb(255, 166, 0);
  }

button:hover {
    cursor: pointer;
}

button:active {
    box-shadow: none;
    transform: translateY(7px);
}





